# Your osu API application credentials (required)
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# The number of days of scores to keep stored before pruning.
# Defaults to 30 days
SCORE_CACHE_DAYS=30

# The max number of users/maps that can be filtered in a single scores request.
# Defaults to 32
MAX_LIST_LENGTH=32

# The max number of scores that can be requested (via the limit query param) in a single score request.
# Default to 1000
MAX_SCORE_REQUEST_LIMIT=1000

# The location of the sqlite database file.
# Defaults to database/storage.db
DB_PATH=