# Your osu API application credentials (required)
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# The number of days of scores to keep stored before pruning.
# Defaults to 30
SCORE_CACHE_DAYS=

# The number of seconds to wait between polls of the osu API for new scores
# Defaults to 10
POLL_INTERVAL_SECS=

# The max number of users/maps that can be filtered in a single scores request.
# Defaults to 32
MAX_LIST_LENGTH=

# The max number of scores that can be requested (via the limit query param) in a single score request.
# Default to 1000
MAX_SCORE_REQUEST_LIMIT=

# The location of the sqlite database file.
# Defaults to database/storage.db
DB_PATH=

# The webserver port
# Defaults to 8080
PORT=